@model Gift

<h1 class="title is-1">List of Gifts</h1>
<h1 class="subtitle">Example - Requires an empty database for the start. Users Inigo Montoya and Dread Pirate Roberts will be available in database for search</h1>

<div class="field">
    <label class="label" title="Search by Title"></label>
    <div class="control">
        <input class="input" type="text" id="input" onclick="this.value=''" >
       
    </div>
</div>
<div class="field is-grouped">
    <div class="control">
        <button id="searchButton" class="button is-primary">Search by User</button>
    </div>
    <div style = "visibility:hidden" id="cancelButtonDiv" class="control">
        <button inherit id="cancelButton" class="button is-light">Cancel</button>
    </div>
</div>
<h1 class="is-italic" id="results"> </h1>

<ul id="giftList"></ul>

<table id="giftTable"></table>

<table id="firstTable" class=" = table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Url</th>
            <th id="optionalColumn"></th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>

