@model Gift

<h2>List of Gifts</h2>

<div class="field">
    <label class="label" title="Search by Title"></label>
    <div class="control">
        <input class="input" type="text" asp-for="Description" id="input"/>
        <span asp-validation-for="Description"></span>
    </div>
</div>
<div class="field is-grouped">
    <div class="control">
        <button id="searchButton" onclick="searchByTitle()" class="button is-primary">Search</button>
    </div>
    <div class="control">
        <a asp-action="Index" class="button is-light">Cancel</a>
    </div>
</div>
<h1 id="results"> </h1>

<ul id="giftList"></ul>

<table id="giftTable"></table>

<table id="firstTable" class=" = table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Url</th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>

