# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- Assignment*

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'


steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '3.1.x'

- task: Npm@1
  inputs:
    command: 'install'
    workingDir: 'SecretSanta/src/SecretSanta.Web'

- task: Npm@1
  inputs:
    command: 'custom'
    workingDir: 'SecretSanta/src/SecretSanta.Web'
    customCommand: 'run build:prod'
- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '**/*.csproj'
- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    projects: '**/test/**/*.csproj'

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: |
      **/SecretSanta.Api.csproj
      **/SecretSanta.Web.csproj
    arguments: '--configuration $(BuildConfiguration) --output "$(build.artifactstagingdirectory)"'

    
- task: PublishBuildArtifacts@1