<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        input.input-validation-error {
            border-color: red;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="User" asp-action="Index">Users</a></li>
                <li><a asp-controller="Gift" asp-action="Index">Gifts</a></li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
