<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Stylesheets -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <link href="~/css/main.f9ba14a3df73091b4ad8.css" rel="stylesheet" />
    
    <!-- End Stylesheets -->
    <style>
        input.input-validation-error {
            border-color: red;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Users" asp-action="Index">Users</a></li>
            <li><a asp-controller="Groups" asp-action="Index">Groups</a></li>
            <li><a asp-controller="Gifts" asp-action="Index">Gifts</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
    <!-- Scripts -->
    
    <script src="~/js/main.f9ba14a3df73091b4ad8.js"></script>
    
    <!-- End Scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
