@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>My Title</title>
    <style>
        html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div {
    font-size: .5rem;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

.unorderedList, .listItem {
    font-size: 24px;
}
    </style>
</head>
<body>
    <header>here is a header</header>
    <nav>here is nav</nav>
    <section>here is a section</section>
    <p>Here is a paragraph</p>
    <footer>here is a footer</footer>

    <b>This should be bold</b><br />
    <u>This should be underlined</u>
    <div>
        <div>
            Here is a div
            <h1>Another h1</h1>
        </div>
    </div>
    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>

    <ul>
        <li class="listItem">Item 1</li>
        <li class="listItem">Item 2</li>
    </ul>

    <input type="text" /><br />
    <a href="https://www.google.com">Google</a><br />
    <button>Click Me</button><br />
</body>
</html>