<p>Welcome to my blog, this is where I will have information about me eventually, but for now
    you probably want to go to <a asp-action="Index" asp-controller="Blog">Blog</a></p>
<p class="section">
    Some days programming is just an escape room with no instructions and no door.
</p>
<p id="blah"></p>