<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Stylesheets -->
    
    <link href="~/css/main.d26744387536414f3edc.css" rel="stylesheet" />
    
    <!-- End Stylesheets -->
    <style>
        input.input-validation-error {
            border-color: red;
        }
    </style>
</head>
<body>
    <nav class="navbar" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" asp-controller="Home" asp-action="Index">My Blog</a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" asp-controller="Author" asp-action="Index">Authors</a>
                <a class="navbar-item" asp-controller="Post" asp-action="Index">Posts</a>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="content">
            @RenderBody()
        </div>
    </section>
    
    <!-- Scripts -->
    
    <script src="~/js/main.d26744387536414f3edc.js"></script>
    
    <!-- End Scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
