<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Stylesheets -->
    
    <link href="~/css/main.cfb09a3ce400e004f956.css" rel="stylesheet" />
    
    <!-- End Stylesheets -->
    <style>
        input.input-validation-error {
            border-color: red;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Author" asp-action="Index">Authors</a></li>
                <li><a asp-controller="Post" asp-action="Index">Posts</a></li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <!-- Scripts -->
    
    <script src="~/js/main.cfb09a3ce400e004f956.js"></script>
    
    <!-- End Scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
