@model GroupInput

<form asp-route="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="field">
        <label class="label" asp-for="Title"></label>
        <div class="control">
            <input class="input" type="text" asp-for="Title" />
            <span asp-validation-for="Title"></span>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button id="submit" class="button is-primary">Submit</button>
        </div>
        <div class="control">
            <a asp-action="Index" class="button is-light">Cancel</a>
        </div>
    </div>
</form>