@model Group

<h2>Are you sure you want to delete the following group?</h2>
<form asp-route="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="field">
        <label class="label" asp-for="Title"></label>: <span>@Model.Title</span>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary">Yes</button>
        </div>
        <div class="control">
            <a asp-action="Index" class="button is-light">No</a>
        </div>
    </div>
</form>